<a href="https://colab.research.google.com/github/T-H-Aung/Branch/blob/main/Areej_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python

In [ ]:
#@title Variables
x=5
y="Hello World !!"
print(x)
print(y)

5
Hello World !!

In [ ]:
#Casting variables
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#Get variable types
x="Hi"
y=3
z=3.5
print("x is :",type(x))
print("y is :",type(y))
print("z is :",type(z))

x is : <class 'str'>
y is : <class 'int'>
z is : <class 'float'>

In [ ]:
# String variable can be declared either by '' or ""
x='hi'
y="world"
print(x)
print(y)

hi
world

In [ ]:
#Variable names are case sensetive
x=1
X=2
print(x)
print(X)

1
2

In [ ]:
#Many values to multiple variables
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [ ]:
#one variables to Multiple variables 
x=y=z="Hai"
print(x,y,z)

Hai Hai Hai

In [ ]:
#Unpack a collection
numbers=[1,2,3]
x,y,z=numbers
print(x,y,z)

1 2 3

In [ ]:
#Sum of 2 numbers asign variables
a=10
b=15
c=a+b
print("Sum 2 numbers is:",c)

Sum 2 numbers is: 25

In [ ]:
#@title Comment Syntax
#This is my comment syntax
print("Hello world!!")

Hello world!!

In [ ]:
# This is multiline comments 
# This is multiline comments
print("Hello world!!")

Hello world!!

In [ ]:
#@title Data Type
#String
a="Hai"
type(a)

str

In [ ]:
#Integer
b=5
type(b)

int

In [ ]:
#Float
c=2.50
type(c)

float

In [ ]:
#List
d=[1,2,3]
type(d)

list

In [ ]:
#Tuple
e=(1,2,3)
type(e)

tuple

In [ ]:
#Range
f=range(3)
print(f)

range(0, 3)

In [ ]:
#Dict
g={"name": "Veeru" ,"age":"12"}
type(g)

dict

In [ ]:
#Set
h={1,2,3}
type(h)

set

In [ ]:
#Frozen set
i=frozenset({1,2,3})
type(i)

frozenset

In [ ]:
#Boolen
j=True
type(j)

bool

In [ ]:
#Bytes
k=b"Hello"
type(k)

bytes

In [ ]:
#Byte array
l=bytearray(3)
type(l)
print(l)

bytearray(b'\x00\x00\x00')

In [ ]:
#@title Data type conversion
a=1
b=2.1
c="h"
#Convert integer  into float
x=float(a)
print(x)
print(type(x))

#Convert float into integer
y=int(b)
print(y)
print(type(y))

#Convert integer to string
num=423
str(num)
#print(type(num))

1.0
<class 'float'>
2
<class 'int'>

'423'

In [ ]:
#@title Strings
str1="Hello welcome to Python"
print(str1)

Hello welcome to Python

In [ ]:
#Finding string length
str2="Veera"
print("The length of the string is:",len(str2))

The length of the string is: 5

In [ ]:
#String Indexing/Arrays
str3="hello"
print("The indexing of the string is:",str3[0])
print("The indexing of the string is :",str3[-1])

The indexing of the string is: h
The indexing of the string is : o

In [ ]:
#To pull values of the array 
str3[1:3]

'el'

In [ ]:
str3[::2]

'hlo'

In [ ]:
#Reversing of string
print("Reversing of the string:",str3[::-1])

Reversing of the string: olleh

In [ ]:
#String Concatenation
str4="Veera"
str5="Mukil"
print("The concatenation of 2 strings:",str4+str5)

The concatenation of 2 strings: VeeraMukil

In [ ]:
#Concatenation 2 strings including space
a="Hello"
b="World"
print("The concatenation of 2 strings with space:", a+" "+ b)

The concatenation of 2 strings with space: Hello World

In [ ]:
#Escape characters
#Insert quotes in the middle of a single word
txt="My name is \"Veera\".I am 12 years old"
print(txt)

My name is "Veera".I am 12 years old

In [ ]:
#Using single quote for a word
txt1='It\'s alright'
print(txt1)

It's alright

In [ ]:
#New line
txt3="Veera\nMukil"
print(txt3)

Veera
Mukil

In [ ]:
#Carriage return
txt4= "veera\rmukil"
print(txt4)

mukil

In [ ]:
#Tab space
txt5="veera\tmukil"
print(txt5)

veera	mukil

In [ ]:
#Backspace(This erase one character of  backspace)
txt6="veera \bmukil"
print(txt6)

veera mukil

In [ ]:
#octal value of hello
txt7="\110\145\154\154\157"
print(txt7)

Hello

In [ ]:
#STRING METHODS
#**************
#using method center()(#Print the word mukil taking upto 20 space characters and prints mukil in center)
txt8="mukil"
x=txt8.center(20)
print(x)

       mukil

In [ ]:
#center() using parameter
#Align the word center and fill with padding character in the space.
txt9="Veera"
y=txt9.center(20,"*")
print(y)

*******Veera********

In [ ]:
#Upper case
str6="veerasuthesh"
print("Print the values in Uppercase:",(str6.upper()))

Print the values in Uppercase: VEERASUTHESH

In [ ]:
#Starting letter in capital
str6.capitalize()

'Veerasuthesh'

In [ ]:
#Lower case
str7="VEERAMUKILESH"
print("Print the values in Lowercase:",str7.lower())

Print the values in Lowercase: veeramukilesh

In [ ]:
#Lowercase using CASEFOLD function
str7.casefold()

'veeramukilesh'

In [ ]:
#count()
#Returns the number of times a specified values appears in the string
str8="veerumukil"
str8.count("e")

2

In [ ]:
#strip()
#Remove whitespace from the begning or end#
str9="  veera suthesh!! "
print(str9.strip())

veera suthesh!!

In [ ]:
#Replace()
#replace a string with another
str10="veera"
print("This will replace the letter a with u in the string veera :",str10.replace("a", "u"))

This will replace the letter a with u in the string veera : veeru

In [ ]:
#Split() method
str11="veera,mukil"
print("Split each with value with quote:",str11.split())

Split each with value with quote: ['veera,mukil']

In [ ]:
#Splits the words without e
str12="veerasuthesh"
str12.split("e")

['v', '', 'rasuth', 'sh']

In [ ]:
#String format
age=12
name="Veera"
txt="My name is {} and I am {} years olds."
print(txt.format(name,age))

My name is Veera and I am 12 years olds.

In [ ]:
#Format using index numbers
fruit="plums"
quantity=2
price=5
myorder="I bought {0}kg of {1} that costs me {2} pounds."
print(myorder.format(quantity,fruit,price))

I bought 2kg of plums that costs me 5 pounds.

In [ ]:
#Using endswith() If the text ends with "!" means it will return true or false
txt10="Hello Veera!"
ends=txt10.endswith("!")
print(ends)

True

In [ ]:
#Using endswith() example2
txt11="hello Veera"
ends1=txt11.endswith("Veera")
print(ends1)

True

In [ ]:
#using expandtabs()
#Set the tab space 2 size whitespace
txt12="v\te\te\tr\ta"
exp1=txt12.expandtabs(2)
print(exp1)

v e e r a

In [ ]:
#expandtabs with specified number of whitespace
txt13="m\tu\tk\ti\tl"
print(txt13)
print(txt13.expandtabs())
print(txt13.expandtabs(2))
print(txt13.expandtabs(4))
print(txt13.expandtabs(6))

m	u	k	i	l
m       u       k       i       l
m u k i l
m   u   k   i   l
m     u     k     i     l

In [ ]:
#find() Searches the  string for the specified values amd returns the positon of where it was found.
#if the value didn't then it return -1
txt14="hello ,welcome to my world"
x=txt14.find("hello")
print("If the string found return the position of string:",x)
y=txt14.find("hai")
print("If the string didn't found return:",y)

If the string found return the position of string: 0
If the string didn't found return: -1

In [ ]:
#isalnum()Returns True if all the characters in string are alphanumeric
txt15="veera29"
print("Check the given string is alphanumeric or not:",txt15.isalnum())

Check the given string is alpha: True

In [ ]:
#isalnum()Returns False if some characters in string are not alphanumeric(space,special characters)
txt16="mukil 30"
print("Check the given string is alphanumeric or not:",txt16.isalnum())

Check the given string is alphanumeric or not: False

In [ ]:
#isalpha()Returns true if all the characters in string are alphabets
txt17="veera"
print("Check all the characters in the string is alphabets:",txt17.isalpha())

Check all the characters in the string is alphabets: True

In [ ]:
#isalpha()Returns false if some the characters in strings are not alphabets(numbers,special characters)
txt18="veera123"
print("Checkthe given string is alphabet or not:",txt18.isalpha())

Checkthe given string is alphabet or not: False

In [ ]:
#isdecimal()Returns true if all the character in strings are decimal
txt19="\u0033"
print("Check if all the characters in strings :",txt19.isdecimal())

Check if all the characters in strings : True

In [ ]:
#isdigit()Returns true if all the characters in strings are digits
txt20="50800"
print("Check if all the characters in strings are digits:",txt20.isdigit())

Check if all the characters in strings are digits: True

In [ ]:
#isdigit()Returns false if any of the characters in strings are digits
txt21="\u0300"
txt22="\u00b2"
print(txt21.isdigit())
print(txt22.isdigit())

False
True

In [ ]:
#islower()Returns true if the given strings are lower or false
txt23="hello"
txt24="Hello"
print("Check if all the characters are lower:",txt23.islower())
print("Returns false if any of the characters are string is lowercase:",txt24.islower())

Check if all the characters are lower: True
Returns false if any of the characters are string is lowercase: False

In [ ]:
#@title Boolean

a=10
b=14
if a>b:
  print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [ ]:
#Boolean functions
def myfunction():
 return True
if myfunction():
  print("Yes")
else:
  print("No")

Yes

In [ ]:
#isinstance() is used to determine is any of the object of a certain datatype
t= 200
print(isinstance(t,int))

True

In [ ]:

#@title Operators -Arthimetic 
#Arthimetic operators(Addition,subtraction,multiplication,division,modulus,exponentation,floor divisio)
a=15
b=4
sum= a+b
print("Sum of 2 numbers is:",sum)
sub= a-b
print("Subraction of 2 numbers is :",sub)
mul=a*b
print("Product of 2 numbers is:",mul)
div=a/b
print("Division of 2 numbers is :",div)
mod=a%b
print("Modulus of 2 numbers is :",mod)
exp=a**b
print("Exponentaition of 2 numbers is:",exp)#means (15*15*15*15)
floor=a//b
print("Floor division of 2 numbers is:",floor)#rounds to nearest value

Sum of 2 numbers is: 19
Subraction of 2 numbers is : 11
Product of 2 numbers is: 60
Division of 2 numbers is : 3.75
Modulus of 2 numbers is : 3
Exponentaition of 2 numbers is: 50625
Floor division of 2 numbers is: 3

In [ ]:
#@title Operators-Assignment
#Assignment Operators(Used to assign the values to varaibles)
c=5
print("Assign the value to c:",c)
c+=3
print("Assign the value to c and add 3:",c)#c=c+3
c-=3
print("Assign the value to c and minus 3:",c)#c=c-3
c*=3
print("Assign the value to c and multiply by 3:",c)#c=c*3
c/=3
print("Assign the value to c and divide by 3:",c)#c=c/3
c%=3
print("Assign the value to c and modulus by 3:",c)
c//=3
print("Assign the value to c and floor by 3:",c)
c**=3
print("Assign the value to c and exponent by 3:",c)
#c&=3
#print("Assign the value to c and  find the insection c and 3:",c)
#c|=3
#print("Assign the value to c and find OR value:",c)
#c^=3
#print("Assign the value to c and ")
#c>> =3
print("Assign the values to c and check c is >> to 3:",c)
#c<< = 3
print("Assign the values to c and check c is << to 3:",c)

Assign the value to c: 5
Assign the value to c and add 3: 8
Assign the value to c and minus 3: 5
Assign the value to c and multiply by 3: 15
Assign the value to c and divide by 3: 5.0
Assign the value to c and modulus by 3: 2.0
Assign the value to c and floor by 3: 0.0
Assign the value to c and exponent by 3: 0.0
Assign the values to c and check c is >> to 3: 0.0
Assign the values to c and check c is << to 3: 0.0

In [ ]:
#@title Operators-Comparision
#Comparision operators

d=5
e=6
print("Check the d is equal to e:",d==e)#Equals

print("Check the dis not equal e:",d!=e)#Not equals
print("Check d is greaterthan e :",d>e)#Greater
print("Check d is greaterthan or equals to e:",d>=e)#Greaterthan or equals
print("Check d is less than e :",d<e)#Less than
print("Check d is less than or equals to e:",d<=e)#lessthan or equals

Check the d is equal to e: False
Check the dis not equal e: True
Check d is greaterthan e : False
Check d is greaterthan or equals to e: False
Check d is less than e : True
Check d is less than or equals to e: True

In [ ]:
#@title Operators-Logical
#Logical operators
f=5
print(f>3 and f<10)#returns true bcos f is greaterthan 3 and f is lessthan 5
print(f>3 or f<4)#returns true bcos  f is greaterthan 3 or f is lessthan 4
print(not(f>3 and f<10))#returns false

True
True
False

In [ ]:
#@title List
#List
mylist=["red","blue","green"]
print(mylist)
mylist1=["red","blue","green","red"]#List allow duplicates
print(mylist1)
print("Length of mylist is:",len(mylist))#returns the length of the list
print("Length of mylist1 is:",len(mylist1))
mylist3=[1,2,3]
print(type(mylist3))#list data type
mylist4=list(("red","blue","green"))#list as constructor()
print(mylist4)

['red', 'blue', 'green']
['red', 'blue', 'green', 'red']
Length of mylist is: 3
Length of mylist1 is: 4
<class 'list'>
['red', 'blue', 'green']

In [ ]:
#@title List-Indexing
#List indexing/Access list/negative indexing
mylist5=["r","b","g","o","y"]
print("Indexing 0 of mylist5 is:",mylist5[1])
print("negative indexing -1 of mylsit5 is :",mylist5[-1])
print("Range of indexing:",mylist5[1:3])#search will starts at index 1 & ends at index 3.But won't include index[3]
print(mylist5[:2])#starts from the begning but ends at index[2].But won't include index[2]
print(mylist5[1:])#starts from index[1] and returns till the end of index
print(mylist5[-3:-1])#it excludes index[-1] & returns till index[-3]
if 'b' in mylist5:#check is the string in list
 print("yes,'b' is in the list")

Indexing 0 of mylist5 is: b
negative indexing -1 of mylsit5 is : y
Range of indexing: ['b', 'g']
['r', 'b']
['b', 'g', 'o', 'y']
['g', 'o']
yes,'b' is in the list

In [ ]:
#@title List-Changing the list values
#Change the list item
mylist6=["veera","mukil","veeru"]
mylist6[2]="suthesh"
print("Changing the value of index[2]:",mylist6)
mylist7=["veera","veera1","veeru","mukil","abi","vimal"]
mylist7[1:3]=["suthesh","gayu"]
print("Change the names in assigned index:",mylist7)#it will change the values from index[1]&[2]
mylist8=["abi","gayu","veera","mukil"]#using insert() method
mylist8.insert(2,"vimal")
print(mylist8)

Changing the value of index[2]: ['veera', 'mukil', 'suthesh']
Change the names in assigned index: ['veera', 'suthesh', 'gayu', 'mukil', 'abi', 'vimal']
['abi', 'gayu', 'vimal', 'veera', 'mukil']

In [ ]:
#@title List-Add elements to the list
#Add items to the list(Append(),insert(),extend())
mylist9=["abi","gayu","vimal"]
mylist9.append("veera")#Using append(add values at the end)
print(mylist9)
mylist9.insert(3,"mukil")#insert a values at index[2]
print(mylist9)
mylist10=["vinu","vinaya"]
mylist9.extend(mylist10)#appends values from another list using extend()
print(mylist9)

['abi', 'gayu', 'vimal', 'veera']
['abi', 'gayu', 'vimal', 'mukil', 'veera']
['abi', 'gayu', 'vimal', 'mukil', 'veera', 'vinu', 'vinaya']

In [ ]:
#@title List-Removes elements in the list
#Removing items from the list
mylist11=["veeru","veera","mukil"]
mylist11.remove("veera")#removes the element using remove()method
print(mylist11)
mylist11.pop(1)#removes the element using index number using pop()method
print(mylist11)
mylist12=["veera","mukil","veeru"]
mylist12.pop()#without specifying the index
print(mylist12)
mylist13=["veeru","veera","mukil"]#using del() using specified index
del(mylist13[1])
print(mylist13)
mylist14=["veera","mukil"]#using clear()method it clears all the elements in the list
mylist14.clear()
print(mylist14)

['veeru', 'mukil']
['veeru']
['veera', 'mukil']
['veeru', 'mukil']
[]

In [ ]:
#@title List-Loops
#Loop list
#For loop
mylist15=["veera","mukil","gayu"]# For loop
for x in mylist15:
  print(x)
for i in range(len(mylist15)):#For loop using range 
 print(mylist15[i])
 print(i)

veera
mukil
gayu
veera
0
mukil
1
gayu
2

In [ ]:
#While loop
mylist16=["red","blue","green"]
i=0
while i<len(mylist16):
  print(mylist16[i])
  i=i+1

red
blue
green

In [ ]:
#@title List-Comperhension
#List Comprehension
mylist17=["red","green","blue"]# without using comprehension

for x in mylist17:
  if "r" in x:
    print(x)

mylist18=["red","green","blue"]
newlist=[x for x in mylist18 if "r" in x]
print("This is example of List comperhension:",newlist)

red
green
This is example of List comperhension: ['red', 'green']

In [ ]:
#@title List- Sorting
#List -Sort
mylist19=["red","blue","green"]
mylist19.sort()
print(mylist19)
mylist20=[14,12,13]#Numeric sorting
mylist20.sort()
print(mylist20)
mylist21=["a","b","c"]
mylist21.sort(reverse=True)# Descending order
print(mylist21)
mylist22=["red","Blue","green"]
mylist22.sort(key=str.lower)# for case sensetive sorting
print(mylist22)
mylist23=["red","blue","green"]
mylist23.reverse()#Using reverse() method
print(mylist23)

['blue', 'green', 'red']
[12, 13, 14]
['c', 'b', 'a']
['Blue', 'green', 'red']
['green', 'blue', 'red']

In [ ]:
#@title List-Copy
#Copy List
mylist24=["red","blue","green"]#Copying a elements from list to another using copy()method
mycopy=mylist24.copy()
print(mycopy)
mylist25=["black","purple"]#Copy using list()method
mylist=list(mylist25)
print(mylist)

['red', 'blue', 'green']
['black', 'purple']

In [ ]:
#@title List-Join
#Join List(joins two lists)
mylist26=["red","purple"] #Join using "+" operator
mylist27=[1,2]
listjoin=mylist26+mylist27
print(listjoin)
mylist28=["green","orange"]# Join using extend() method
mylist29=[3,4]
mylist28.extend(mylist29)
print(mylist28)
mylist30=["rose","lotus"] #Join using append() method
mylist31=[67,45]
for i in mylist31:
  mylist30.append(i)
  print(mylist30)

['red', 'purple', 1, 2]
['green', 'orange', 3, 4]
['rose', 'lotus', 67]
['rose', 'lotus', 67, 45]